---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 && page_number > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h1><%= link_to article.title, article %></h1>
  <span>Posted on <%= article.date.strftime('%Y-%m-%d') %>
    by <% article.authors.each do |author| %><%= link_to_author(author) %><% end %>
  </span>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
  <hr/>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
